aiogram
fastapi
uvicorn[standard]
gunicorn
uvloop
orjson
motor
pymongo
redis
hiredis
aiohttp
qrcode
Pillow
python-jose[cryptography]
passlib[bcrypt]
python-multipart
jinja2
pydantic
pydantic-settings
